body{
	background-image: url("CSS/Images/black-background.png")
}
section{
	height: 100vh;
	width: 100%;
}
.footer{
	text-align: center;
}
.nav-text{
	text-decoration: none;
	color: #bababa;
}
.nav-text:hover{
	color: #bababa;
	text-decoration: none;
}
 a:visited, a:link, a:active
{
    text-decoration: none;
    color: #bababa;
}
a:hover{
	text-decoration: none;
	color: white;
}
.main-logo{
	float: right;
	margin-right: 20%;
	margin-top: 12%;
}
.cow{
	width: 100%;
	margin-top: 10%;
	margin-left: 10%;
}
.cow2{
	margin-top: 10%;
	width: 85%;
	margin-left: 10%;
	color: white;
}
.spoon{
	margin-top: 5%;
	float: left;
	width: 105%;
}
.splash{
	width: 45%;
	margin-left: 10%;
}
.hand{
	float: right;
	width: 50%;
	margin-top: -20%;
}
.newList{
	text-decoration: none;
	color: white;
	background-color: black;
	list-style: none;
}
li{
	font-size: 300%;
	text-align: center;
	margin-bottom: 4%;
	margin-left: 15%;
}
.social{
	width: 5%;
	margin-right: 5%;
}
.social-div{
	margin-left: 21%;
}
.icons{
	margin-top: 5%;
	margin-left: 23%;
}
.social2{
	width: 7%;
	float: left;
	margin-left: 5%;
}
h1{
	color: white;
	font-size: 200%;
font-family: 'Muli', sans-serif;
}
h3{
font-family: 'Muli', sans-serif;
color: white;
}
h2{
font-family: 'Muli', sans-serif;
color: white;
}
p{
font-family: 'Muli', sans-serif;
color: white;
}
/* FLAVORS PAGE CSS */
.flav{
	text-align: center;
	margin-top: 10%;
}
.flavor-list{
}
.flavor-r{
	float: right;
}
.desc-r{
	float: left;
	margin-left: 10%;
	color: white;
	margin-top: 8%;
}
.flavor-l{
	float: left;
	margin-bottom: 7%;
}
.desc-l{
	float: right;
	margin-right: 10%;
	color: white;
	margin-top: 5%;
}
.right{
	margin-top: 7%;
}
.left{
	margin-top: 7%;
}
.nav-text{
	text-align: center;
	color: white;
	margin-top: 2%;

}
.navbar{
	margin-top: 2%;
}
.flavors-logo{
	margin-top: 6%;
	width: 70%;
	display: block;
    margin-left: auto;
    margin-right: auto 
}
.flav-div{
	margin: auto;
}
/* Media Querries Needed */
/* ABOUT PAGE CSS*/
.abt1{
	margin-top: 15%;
	margin-left: 10%;
}
.abt2{
	margin-top: 15%;
	margin-left: 10%;
	margin-bottom: 10%;
}
.owners{
	width: 90%;
	border-radius: 25px;
}
.interior{
	width: 55%;
	border-radius: 25px;
}
.scooper{
	width: 80%;
	border-radius: 25px;
}
.abt-p{
	width: 90%;
}
hr{
border: 0;
}
.flav-butn{
	margin-left: auto;
    margin-right: auto; 
    background-color: black;
    color: white;
    outline-color: white;
}
.reg-flav{
	margin-left: auto;
    margin-right: auto;
}
ul{
	margin-top: 10%;
	columns: 2;
	 list-style-type: none;
}
li{
	color: white;
	font-size: 150%;
	font-family: 'Muli', sans-serif;
}